keymap {
    compatible = "zmk,keymap";

    default_layer {
        bindings = <
            &kp 0x01 &kp 0x02 &kp 0x03 &kp 0x04 &kp 0x05 &kp 0x06 &kp 0x07 &kp 0x08
            &kp 0x11 &kp 0x12 &kp 0x13 &kp 0x14 &kp 0x15 &kp 0x16 &kp 0x17 &kp 0x18
            &kp 0x21 &kp 0x22 &kp 0x23 &kp 0x24 &kp 0x25 &kp 0x26 &kp 0x27 &kp 0x28
            &kp 0x31 &kp 0x32 &kp 0x33 &kp 0x34 &kp 0x35 &kp 0x36 &kp 0x37 &kp 0x38
            &kp 0x41 &kp 0x42 &kp 0x43 &kp 0x44 &kp 0x45 &kp 0x46 &kp 0x47 &kp 0x48
            &kp 0x51 &kp 0x52 &kp 0x53 &kp 0x54 &kp 0x55 &kp 0x56 &kp 0x57 &kp 0x58
            &kp 0x61 &kp 0x62 &kp 0x63 &kp 0x64 &kp 0x65 &kp 0x66 &kp 0x67 &kp 0x68
            &kp 0x71 &kp 0x72 &kp 0x73 &kp 0x74 &kp 0x75 &kp 0x76 &kp 0x77 &kp 0x78
        >;
    };
};
